spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

oauth:
  kakao:
    user-info-url: https://kapi.kakao.com/v2/user/me
  google:
    keys-url: https://www.googleapis.com/oauth2/v3/certs
    issuer: https://accounts.google.com
    web-client-id: ${GOOGLE_WEB_CLIENT_ID}
    ios-client-id: ${GOOGLE_IOS_CLIENT_ID}
    android-client-id: ${GOOGLE_ANDROID_CLIENT_ID}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000
