spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    database-platform: org.hibernate.dialect.MySQLDialect

oauth:
  kakao:
    user-info-url: https://kapi.kakao.com/v2/user/me
  apple:
    keys-url: https://appleid.apple.com/auth/keys
    token-url: https://appleid.apple.com/auth/token
    issuer: https://appleid.apple.com
    team-id: ${APPLE_TEAM_ID}
    key-id: ${APPLE_KEY_ID}
    client-id: ${APPLE_CLIENT_ID}
    private-key: ${APPLE_PRIVATE_KEY}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000
